<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HRM</title>
  <!-- Bootstrap CSS CDN -->
  <link rel="icon" href="/static/images/it.webp" >
  <!-- <link rel="icon" href="/static/images/pdf_image.png" > -->
  <!-- <link rel="stylesheet" href="/static/cdn/bootstrap-5.3.3/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/static/css/dashboard_admin.css">

</head>
<body>
    <!-- <%-include('../common/header')%> -->
    <div class="mt-5"></div>

<div class="container-fluid hold pt-4 mb-3">
  <div class="row gy-3">
    <%if(role=='ADMIN'){%>
    <div  class="col-xl-3 col-md-4 col-sm-6">
      <a href="/admin_leave_dashboard" class="text-decoration-none">
        <div id="div1" class=" onhov">
          <!-- <img src="/static/images/emp_07-removebg-preview.png"
          class="img-fluid " alt=""> -->
        
      </div>
      <h6 class="text-center mt-2 fw-bold" >Employee Master</h6>
      </a>

      
    </div>
    <div  class="col-xl-3 col-md-4 col-sm-6" >
     <a href="/jobDescription" class="text-decoration-none">

      <div id="div2" class=" onhov">
        
    </div>
    <h6 class="job mt-2 text-center fw-bold"> Job Description</h6>

     </a>
       
    </div>
    
      <div  class="col-xl-3 col-md-4 col-sm-6">
        <a href="/createuser"  class="text-decoration-none">
        <div id="div3" class=" onhov">
         
      </div>
      <h6 class="job mt-2 text-center fw-bold">Create User</h6>

    </a>
    </div>
 

  
    <div  class="col-xl-3 col-md-4 col-sm-6">
<a href="/offer_letter_template" class="text-decoration-none">
  <div id="div4" class=" onhov">
         
      </div>
      <h6 class="job mt-2 text-center fw-bold">Offer Letter</h6>

</a>    
        
    </div>
<%}else if(role=='HR'){%>
  <div class="col-xl-3 col-md-4 col-sm-6">
    <a href="/hr_view_employee" class="text-decoration-none">
      <div id="div1" class=" onhov">
    </div>
    <h6 class="text-center mt-2 fw-bold" >View Employee Master</h6>
    </a>
   </div>


  <div  class="col-xl-3 col-md-4 col-sm-6" >
    <a href="/view_job_description" class="text-decoration-none">

     <div id="div2" class=" onhov">
       
   </div>
   <h6 class="job mt-2 text-center fw-bold"> Job Description</h6>

    </a>
      
   </div>

   <div  class="col-xl-3 col-md-4 col-sm-6" >
    <a href="/interview_manage" class="text-decoration-none">

     <div id="div3" class=" onhov">
       
   </div>
   <h6 class="job mt-2 text-center fw-bold">Interview Manage</h6>

    </a>
      
   </div>

 
 
  <%}%>

  </div>



  
  </div>



<!--   
  <div class="container-fluid">
    <div class="row">
      <div id="div1" class="col"><img src="/static/images/emp_07-removebg-preview.png" class="img-fluid"  height="150px" width="150px" alt=""><h5>Employee Master</h5></div>
      <div id="div2" class="col"><img src="/static/images/cloud-uploading-icon-technology-graphic-removebg-preview.png" class="img-fluid " height="100px" width="100px" alt=""><h5 class="job">Upload Job Description</h5></div>
      <div id="div3" class="col"><img src="../assset//img/offer_letter_02.png"  class="img-fluid"  height="130px" width="130px" alt=""><h5>Offer Letter</h5></div>
      <div id="div3" class="col"><img src="/static/images/jd_01-removebg-preview.png"   height="100px" width="100px"  class="img-fluid" alt=""><h5>Offer Letter</h5>
      </div>
    
    </div>
  
    
    </div>
  


 <div class="container-fluid">
  <div class="row">
    <div id="div1" class="col"><img src="/static/images/emp_07-removebg-preview.png" class="img-fluid"  height="150px" width="150px" alt=""><h5>Employee Master</h5></div>
    <div id="div2" class="col"><img src="/static/images/cloud-uploading-icon-technology-graphic-removebg-preview.png" class="img-fluid " height="100px" width="100px" alt=""><h5 class="job">Upload Job Description</h5></div>
    <div id="div3" class="col"><img src="../assset//img/offer_letter_02.png"  class="img-fluid"  height="130px" width="130px" alt=""><h5>Offer Letter</h5></div>
    <div id="div3" class="col"><img src="/static/images/jd_01-removebg-preview.png"   height="100px" width="100px"  class="img-fluid" alt=""><h5>Offer Letter</h5>
    </div>
  
  </div>

  
  </div> -->



  

  <!-- <%-include('../common/footer')%> -->

<!-- Bootstrap JS CDN (optional, for dropdowns etc.) -->
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
 <script src="/static/js/dashboard_admin.js"></script>
</body>
</html>

