<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRM</title>
    <link rel="icon" href="/static/images/it.webp">
  
  <link rel="stylesheet" href="/static/css/job_description.css">
</head>
<body class="dyn_height">
    <%-include('../common/header')%>
    <%-include('../common/sidebar')%>

    <div class="mt-5"></div>
    <div class="container-fluid h-100 #position-relative">
        <button class=" pos offbtn border-0 p-0 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
       <i class="fa-solid  fa-angles-right rounded-end-3 text-light side_button fs-5 bg_bl  span_expand "></i>
          </button>
<div class="row dyn_row justify-content-end ">
    
    <div class="col-xl-10 col-md-9 col-8 dyn_col   ">  

        <div class="row g-3 justify-content-center form1 ps-4">
            <div class="col-12 shadow pt-1 pb-1">
                <h5 class="text-center fs_16 text-white mt-3">JD Creation</h5>
            </div>
       
                   
                        <!-- <div class="col-md-3">
                            <label for="jdid">JdId:</label>
                            <input type="text" class="form-control" id="jdid" placeholder="" readonly name="jdid">
                        </div> -->
                        <div class="col-md-4">
                            <label for="Job_title">Job Title</label>
                            <input type="text" class="form-control" id="Job_title" placeholder="Enter Job Title" name="job_tittle">
                        </div>
                        <div class="col-md-4">
                            <label for="function">Department/Group</label>
                            <input type="text" class="form-control" id="function" placeholder="Enter Function" name="function">
                        </div>
                        <div class="col-md-4">
                            <label for="business">Business</label>
                            <input type="text" class="form-control" id="Business" placeholder="Enter Business" name="business">
                        </div>
                    
<!--                     
                        <div class="col-12">
                            <label for="aboutUs">About Us</label>
                            <textarea rows="3" type="text" class="form-control" id="aboutUs" placeholder="Enter About Us" name="aboutUs"></textarea>
                        </div> -->
                    
                  
                        <div class="col-md-6">
                            <label for="role">Role Summary</label>
                            <textarea rows="3" type="text" class="form-control" id="role" placeholder="Enter Role Summary" name="Summary"></textarea>
                        </div>
                    
                  
                        <div class="col-md-6">
                            <label for="role_responsibility">Role and Responsibility</label>
                            <textarea rows="3" type="text" class="form-control" id="responsibility" placeholder="Enter Responsibility" name="responsibility"></textarea>
                        </div>
                  
                        <div class="col-md-6">
                            <label for="key_performance">Key Performance</label>
                            <textarea rows="3" type="text" class="form-control" id="key_performance" placeholder="Enter Key Performance" name="key_performance"></textarea>
                        </div>
                    
                    
                        <div class="col-md-6">
                            <label for="Qualification">Qualification</label>
                            <textarea rows="3" class="form-control" id="Qualification" placeholder="Enter Qualification" name="qualification"></textarea>
                        </div>
               
                        <div class="col-md-12 mt-4 text-xl-center text-md-center text-center ">
                            <button type="submit" id="create" class="btn btn-primary submit shadow">Submit</button>
                        </div>
                        
                    
                
            </div>
        </div>
    </div>
</div>



    </div>

<script src="/static/cdn/sweetalert2/sweetalert2.js"></script>
<script src="/static/js/jd_creation.js"></script>


</body>
</html>
