<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRM</title>
    <link rel="icon" href="/static/images/it.webp" >
    <link rel="stylesheet" href="/static/cdn/bootstrap-5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/Accept_design.css">
    <link rel="stylesheet" href="/static/css/header.css">

    
</head>
<body>
    

    <div class="container-fluid d-flex justify-content-center align-items-center h100">
        <div class=" p-5 rd ax">
            <h1 class="text-dark">Rejected
                <span>&#10008;</span></h1>
        </div>
    </div>


    <script src="/public/cdn/bootstrap-5.3.3/js/bootstrap.min.js"></script>
</body>
</html>