  /* Define background colors for each div */
  #div5 {
    background-image:  url('/static/images/interview_status1.jpg');
    background-color: lightgray;
    /* background-color: #5a9a6c; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 70px 0;

border-radius: 10px;
  color: white;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.514) ;
  }




/* Define background colors for each div */
  #div1 {
    background-image:  url('/static/images/emp_07-removebg-preview.png');
    background-color: #dab221fb;
    /* background-color: #5a9a6c; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 70px 0;

border-radius: 10px;
  color: white;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.514) ;
  }

  #div2 {
    background-image:  url('/static/images/cloud-uploading-icon-technology-graphic-removebg-preview.png');
    background-color: #0882b6ab;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 70px 0;

  border-radius: 10px;
    color: white;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.514) ;
  }

  #div3 {
    background-image:url('/static/images/admin_nobg.png');
background-color:#5a9a6c ;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 70px 0;

  border-radius: 10px;
    color: white;;
  
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.514) ;
  }

  #div4 {
    
    background-image: url('/static/images/jd_01-removebg-preview.png');
    background-color: #0751a1b4;
    background-position: center;
    background-size: contain;
    padding: 70px 0;
    background-repeat: no-repeat;
  border-radius: 10px;
    color: white;
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.514) ;
  }

  .onhov:hover{
    transform: scale(1.05,1.05);
    transition: 0.8s all;
  }
  
  .onhov:hover h6{
    /* background-color: #0c50a1;
    padding: 2px 0px; */
    transform: scale(1.05,1.05);
    transition: 0.8s all;
  }
  
