.text_center {
    text-align: center;
}

.mar_21 {
    margin-top: -21px;
}

.mar_18 {
    margin-top: -18px;
}

.f_18 {
    font-size: 17px;
}

.font_family {
    font-family: Cambria Math;
}

.f_25 {
    font-size: 25px;
}

.table_border th,
.table_border td {
    border: 1px solid black;
}

.table_height {
    height: 200px;
}

.table_width {
    width: 68%;
}

.pad_20 {
    padding: 0px 41px 0px 7px !important;
}

.input_height {
    height: 80px;
    border: 1px solid black;
}

.input_height_1 {
    height: 50px;
    border: 1px solid black;
}

.mar_left_259 {
    margin-left: 259px;
    margin-top: -16px;
}

.text_center_1 {
    text-align: justify;
}

.add_btn {
    margin-right: 115px;
}

@media only screen and (max-width: 768px) {
    .add_btn {
        margin-right: 36px;
    }
}

.img_height {
    height: 60px;
    width: 60px;
}


.mar_top_15 {
    margin-top: -15px;
}

.mar_top_15 {
    margin-top: -15px;
}

.input_height_11 {
    height: 50px;
    border: 1px solid black;
    width: 200px;
}


.border_buttom {
    border-bottom: 1px dotted black;
    border-top: 0px dotted black;
    border-left: 0px dotted black;
    border-right: 0px dotted black;
}

.outline_1 {
    outline: transparent;
}