
form i {
    margin-left: -30px;
    cursor: pointer;
}
.custom-form {
  border: 2px solid #ced4da; /* Border color and width */
  border-radius: 10px; /* Border radius */
  padding: 20px; /* Padding */
}

.custom-form h4 {
  margin-bottom: 20px; /* Bottom margin for the heading */
}
.margin {
  margin-right: 15px;
}

.shadow_high {
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.514) ;
}
.btn_bor{
  /* border: 2px solid #00bf73ef ; */
  /* border: 2px solid #0c50a1; */
  background-color: #0c50a1;
  color: white;

}