/* *{
    border: 1px solid red;
} */
html,body{
    height: 100%;
}
.add_bg{
   min-height: 100vh;
   max-height: 300vh;
    /* background-image: linear-gradient(to right top, #0519378c, #004d7a75, #00879341, #00bf734b, #a6eb123a),url('/static/images/MixCollagehr.jpg'); */
  
background-repeat: no-repeat;
background-position: center;
background-size: cover;

}
.blur_layer{
    background-color:#544f4f;
   
}
.inherit_h{
    height: inherit;
}
.border_white{
    border: 1px solid white;
}
.light_white{
    background-color: rgba(255, 255, 255, 0.884);
    /* background-color: rgb(29, 29, 151); */
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf73, #a6eb12); */

    font-size: 13px;
}
.fs_13{
font-size: 13px;


}
.rem_br_rad_end .form-control:focus{
border-color: white;

}
/* .parent_blur{
    filter:blur(1px);
  

} */
.shadow_grey{
    box-shadow: 6px 6px 20px 8px rgba(0, 0, 0, 0.404) ;
}

.shadow_high {
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.514) ;
}
.btn_bor{
    /* border: 2px solid #00bf73ef ; */
    /* border: 2px solid #0c50a1; */
    background-color: #0c50a1;
    color: white;

}

.btn_bor:hover{
    border: 1px solid #00bf73ef ;
    background-color: #0c50a1;
    color: white;
    /* border: 2px solid white; */
    transition: 1.5s all;
    /* transition-timing-function: linear ; */
}
.form-select:focus{
    box-shadow: none;
    border:none;
}


.p_3per{
    padding-top: 3%;
    padding-left: 2px;
    padding-right: 2px;

}

.img_l{
    width: 70%;
    height: auto;
    text-align: center;
}


.pp{
    top: 20px;
    right: 20px;
}

.pp .btn{
    background-color: #0473cf !important;
font-weight: 600 !important;
font-size: 14px !important;
}