<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRM </title>
    <link rel="stylesheet" href="/static/cdn/bootstrap-5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/manager_leave_request.css">
    <link rel="stylesheet" href="/static/cdn/datepicker/datapicker_cdn.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/dubrox/Multiple-Dates-Picker-for-jQuery-UI@1.6.6/dist/jquery-ui.multidatespicker.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  
    <link rel="icon" href="/static/images/images-removebg-preview.png" >
    

    

</head>
<body>
    <%-include('../common/header')%>
    
      <%-include('../common/sidebar')%>

      <div class="mt-5"></div>
      <div class="container-fluid h-100 position-relative">
          <button class=" pos offbtn border-0 p-0 " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
         <i class="fa-solid  fa-angles-right rounded-end-3 text-light side_button fs-5 bg_bl  span_expand "></i>
            </button>
      <div class="row dyn_row justify-content-end ">
      
      
      <div class="col-xl-10 col-md-9 col-8 dyn_col">  

        <form method="POST">

            <div class="container-fluid parentbox  my-4">
              <div class="container-fluid bg_dot box_sdw border-t pb-4 childbox bg-light">
                <div class="row bg_bck border-t">
                  <h5 class="text-light text-center f_16 mt-2">Work From Home Request</h5>
                </div>
                <div class="row">
                  <p class="pb-0 mb-0 my-2 f_12  fw_600"></p>
                </div>
    
    
                <div class="container-fluid parentbox my-4">
                  <div class="container-fluid newmp pb-3  border-t childbox bg-light">
                    <div class="row bg_r border-t pt-1 rounded-top-2">
                      <!-- <h5 class="text-light text-center f_14 mt-2">Leave Request</h5> -->
                    </div>
    
    
    
                    <div class="row my-3 mt-4">
                      <div class="col-md-4 my_cols">
                        <h6 class="fw_bold f_13 ms-1 ">Date Type:</h6>
                        <select class="form-select border-leftb box_sdw11 f_13 fw_600" id="date_type" aria-label="Default select example" name="date_type" required>
                          <option value="Single">Single</option>
                          <option value="Customize">Customize</option>
                          
                        </select>
    
    
                      </div>
    
    
                      <div class="col-md-4 my_cols" id="">
                        <div id="fday">
    
                          <h6 class="fw_bold f_13 ms-1 ">From Date:</h6>
                          <input type="text"  id="datepicker" class="form-control border-leftb box_sdw11 f_13 fw_600" placeholder="DD-MM-YYYY" name="datefrom" required >
                          
                        </div> 
    
                        <h6 class="fw_bold datepicker3 d-none f_13 ms-1 ">Select Date:</h6>
                        <div class="input-group mb-3 d-none datepicker3">
                          <input type="text" class="form-control   border-leftb box_sdw11 f_13 fw_600" placeholder="Select Dates" name="" id="datepicker3" aria-label="Recipient's username" aria-describedby="button-addon2">
                          <select class="form-select  box_sdw11 f_13 fw_600" aria-label="Default select example" name="multi_date_type" required>
                            <option value="Full Day" selected>Full Day</option>
                            <option value="Half Day">Half Day</option>  
                          </select>
                          <button class="btn bg_b  f_13 fw_600 text-light" type="button" id="button-addon2">Add</button>
                        </div>
                        
    
                      </div>
                      <div class="col-md-4 my_cols" id="">
                        <div id="tday">
                        <h6 class="fw_bold f_13 ms-1 ">To Date:</h6>
                        <input type="text" id="datepicker2" class="form-control border-leftb box_sdw11 f_13 fw_600" placeholder="DD-MM-YYYY" name="dateto" required >
                      </div>
    
    
                      <h6 class="fw_bold f_13 ms-1 d-none datepicker3">Selected Dates:</h6>
                      <div class="input-group mb-3 d-none datepicker3">
                          <select class="form-select border-leftb box_sdw11 f_13 fw_600 custom-select-appended" aria-label="Default select example" name="" >
                          </select>
                          <button class="btn bg_r  f_13 fw_600 text-light" type="button" id="button-delete2">Delete</button>
                      </div>
                      <input type="hidden" value="" name="datesfrom" id="datesfrom" >
    
    
    
    
                      </div>
                    </div>
    
    
                
    
    
                    <div id="dynamicContent"></div>
    
    
                    <div class="row my-3">
    
    
    
                      <div class="col-md-4 my_cols d-none">
                        <h6 class="fw_bold f_13 ms-1 ">No of Days:</h6>
                        <input type="text" id="numDays" class="form-control  border-leftb box_sdw11 f_13 fw_600" placeholder="No of Days" name="no_of_days" readonly required >
    
    
                      </div>
    
    
                      <div class="col-md-4 my_cols">
                        <h6 class="fw_bold f_13 ms-1 ">Request Type:</h6>
                        <select class="form-select border-leftb box_sdw11 f_13 fw_600" aria-label="Default select example" name="leave_type" required>
                          <option value="" selected disabled>Select</option>
                          <option value="Health Request">Health Request</option>
                          <option value="Personal Request">Personal Request</option>
                          <option value="Educational Request">Educational Request</option>
                          <option value="Emergency Request">Emergency Request</option>
    
                        </select>
    
    
                      </div>
    
                      <div class="col-md-4 my_cols">
                        <h6 class="fw_bold f_13 ms-1">Mail To:</h6>
                        <input type="text" id=""   class="form-control border-leftb box_sdw11 f_13 fw_600" placeholder="" value="<%= supervisorEmail %>" name="mail_to" required readonly>

                      
                    </div>
                        <div class="col-md-4 my_cols">
                            <h6 class="fw_bold f_13 ms-1">Mail CC:</h6>
                            <div class="dropdown">
                              <a class="btn overflow-hidden lgr form-control border-leftb box_sdw11 f_13 fw_600 text-start   dropdown-toggle" id="dpt" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Select
                              </a>
                            
                              <ul class="dropdown-menu" id="emailDropdown">
    
                                
                              </ul>
                            </div>
                            
                        </div>
    
                      
    
                    </div>
    
    
    
                    <div class="row my-3">
    
                      
                    
    
                      <div class="col-md-4 my_cols">
                        <h6 class="fw_bold f_13 ms-1 ">Add Attachment :</h6>
                        <input type="file" name="attachment"
                        class="form-control border-leftb box_sdw11 f_13 fw_600"
                        accept="image/*" />
                                     </div>
    
                    </div>
    
    
                    <div class="row my-3">
                        <div class="col-md-12 my_cols">
                          <h6 class="fw_bold f_13 ms-1 ">Reason For Request :</h6>
                          <textarea class="form-control f_13 fw_600 border-leftb box_sdw11" id="myTextarea" rows="5" cols="10" placeholder="Enter Reason" name="reason" required></textarea>
                          <div id="" class="f_14 fw_600 float-end mt-1"><span
                            id="textcount">500</span>/500</div>
                        </div>
      
    
      
                      </div>
    
    
                    <div class="row my-3">
                        <div class="col-md-12 d-flex justify-content-center   my_cols">
                                   
    
                            <button class="btn bg_bck mt-4 text-nowrap text-light f_13 fw_600 submitExpense email" type="sumbit"
                                id="sub_btn">Submit</button>
                                
                </div>
                    </div>
    
                    <div class="loader-div d-none" id="loader-div">
                        <div class="loader">
                            <img src="/static/loader/Pulse-1s-200px (1).gif" alt="Loading...">
                        </div>
                    </div>
                    
    
    
                  </div>
    
                </div>
              </div>
            </div>
    
        </form>
    </div>

</div>

</div>


<script src="/static/cdn/jquery/jquery3.7.1.js"></script>


<script src="/static/cdn/datepicker/datepicker_cdn.js"></script>
<script src="https://cdn.jsdelivr.net/gh/dubrox/Multiple-Dates-Picker-for-jQuery-UI@1.6.6/dist/jquery-ui.multidatespicker.js"></script>
<script src="/static/cdn/sweetalert2/sweetalert2.js"></script>
<script src="/static/js/manager_wfh_request.js"></script>


</body>
</html>