
<footer class="container-fluid footer eventreport box_sdw10  text-lg-start printnone  bg-body-tertiary text-muted">
    <div class="row">

    <div class="col-lg-6 d-flex justify-content-center justify-content-lg-start p-4 border-bottom">
      <div class="me-5">
        <span class="f_11">
            © 2024 Jubilant Agri & Consumer Products Limited. All rights reserved
        </span>
      </div>
    </div>
    <div class="col-lg-6 d-flex justify-content-center justify-content-lg-end p-4 border-bottom ">
      <div class="hv">
        <a href="https://www.facebook.com/jivanjor?mibextid=ZbWKwL" class="me-4 roundde text-reset">
          <i class="fab fa-facebook-f ms-1"></i> 
        </a>
        
        <a href="" class="me-4 rounddetwtr text-reset">
          <i class="fab fa-twitter ms-1"></i> 
        </a>
        
        
        <a href="	
        https://www.instagram.com/jivanjor_premium_adhesives?igsh=MXg3ejV4dmJtdHQwMQ==
        " class="me-4 text-reset rounddeinst">
         <i class="fab fa-instagram p-0 ms-1"></i> 
        </a>
        
        <a href="https://www.linkedin.com/company/jacpl/" class=" rounddeldin text-reset">
          <i class="fab fa-linkedin"></i> 
        </a>
  
      </div>
    </div>
</div>

  
  </footer>

  <script src="/static/js/navbar.js"></script>
<script src="/static/cdn/fontawesome/js/fontawesome6.5.1.js"></script>
<script src="/static/cdn/bootstrap/js/bootstrap5.2.3.min.js"></script>
<script src="/static/cdn/sweetalert/js/sweetalert11.10.2.js"></script>
<script src="/static/cdn/jquery/js/jqueryUI1.12.1.js"></script>
</body>
</html>