<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRM</title>
    <link rel="icon" href="/static/images/it.webp" >
    <link rel="stylesheet" href="/static/cdn/bootstrap-5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/candidate_dashboard.css">
</head>
<body>
  

    <div class="mt-5"></div>
    <div class="container-fluid hold pt-4 mb-3">
      <div class="row gy-3">
        <div  class="col-xl-3 col-md-4 col-sm-6">
          <a href="/candidate_status" class="text-decoration-none">
            <div id="div5" class=" onhov">
              <!-- <img src="/static/images/emp_07-removebg-preview.png"
              class="img-fluid " alt=""> -->
            
            </div>
          <h6 class="text-center mt-2 fw-bold" >Candidate Status</h6>
          </a>    
        </div>
        </div>   
    </div>
    
</body>
</html>