<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRM </title>
    <link rel="stylesheet" href="/static/css/candidate_status.css">
  

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" href="/static/cdn/bootstrap-5.3.3/css/bootstrap.min.css">
  

</head>
<body>

<h5 class="text-center text-light h5_mod mx-4 " >Candidate Status</h5>
    
    <div class="container-fluid">
        <div class="row mx-3 rounded-4 py-3 border_bottom shadow" >
            <div class="col-md-6">
                <table class="table border_trans">
                    <tbody>
                        <tr class="border_trans">
                            <td class="fw-bold f_15">Candidate Level -</td>
                            <td class="f_15 fw_600">L-2</td>

                        </tr>
                        <tr class="border_trans">
                            <td class="fw-bold f_15">Candidate Name -</td>
                            <td class="f_15 fw_600">Rohan</td>
                        </tr>
                        
                        <tr class="border_trans">
                            <td class="fw-bold f_15">Candidate Email ID -</td>
                            <td class="f_15 fw_600">rohanaman@gmail.com</td>
                        </tr>

                        <tr class="border_trans">
                            <td class="fw-bold f_15">Candidate Mobile No -</td>
                            <td class="f_15 fw_600">987376XXXX</td>
                        </tr>


                        
                    </tbody>
                </table>
                
            </div>

            <div class="col-md-6">
                <table class="table border_trans">
                    <tbody>
                        <tr class="border_trans">
                            <td class="fw-bold f_15">Candidate ID -</td>
                            <td class="f_15 fw_600">12</td>

                        </tr>
                        <tr class="border_trans">
                            <td class="fw-bold f_15">Interviewer ID & Name -</td>
                            <td class="f_15 fw_600">16001234 : Aman</td>
                        </tr>
                        
                        <tr class="border_trans">
                            <td class="fw-bold f_15">Mode of Interview -</td>
                            <td class="f_15 fw_600">Face To Face</td>
                        </tr>
                        
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</body>
</html>