<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/new_joining_form.css" />
   
    <link rel="stylesheet" href="/static/cdn/datepicker/datapicker_cdn.css">

</head>

<body>
    <%-include('../common/candidate_common/candidate_header')%>
        <%-include('../common/candidate_common/candidate_sidebar')%>

            <div class="mt_46"></div>
            <div class="container-fluid h-100 position-relative">
                <button class=" pos offbtn border-0 p-0 " type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                    <i
                        class="fa-solid  fa-angles-right rounded-end-3 text-light side_button fs-5 bg_bl  span_expand "></i>
                </button>
                <div class="row dyn_row justify-content-end ">

                    <div class="col-xl-10 col-md-9 col-8 dyn_col px-3">



                        <div class="container box_sdw10 position-relative  my-4">
                            <div class="row bgb"></div>

                            
                            <div class="row my-4 text-center">
                                <h5 class="fw-bold">CONFIDENTIALITY AND NON-DISCLOSURE AGREEMENT</h5>
                            </div>

                            <div class="row my-4 text-center d-flex justify-content-center align-items-center">
                                <div class="col-md-4 d-flex justify-content-center align-items-center">

                                    <h6 class="fw-bold f_16 wt">This Agreement is made on this </h6>
                                    <input type="text" class="form-control nond">

                                </div>
                            </div>


                            <div class="row my-4 text-center ">
                                <div class="col-12 d-flex justify-content-center align-items-center">

                                    <h6 class="fw-bold text-md-nowrap">BY AND BETWEEN</h6>
                                </div>
                            </div>

                            <div class="row my-4 text-center d-flex justify-content-center align-items-center ">
                                <div class="col-12 d-flex justify-content-center align-items-center">

                                    <p class="fw_600 f_14">Jubilant Agri and Consumer Products Limited, a Company
                                        incorporated under the Companies Act, 1956 and having its Registered Office at
                                        Bhartiagram, Gajraula, District: Amroha, Uttar Pradesh – 244 223, India
                                        (hereinafter referred to as the “Company”, which expression shall, unless
                                        repugnant to the context or meaning thereof include its successors and assigns)
                                        of the First Part;</p>
                                </div>
                            </div>

                            <div class="row my-4 text-center ">
                                <div class="col-md-12 d-flex justify-content-center align-items-center">

                                    <h6 class="fw-bold text-md-nowrap">AND</h6>
                                </div>
                            </div>


                            <div class="row mt-4 text-center d-flex justify-content-center">
                                <div class="col-12 d-flex justify-content-center align-items-center">

                                    <input type="text" class="form-control nond">
                                    <h6 class="fw-bold text-md-nowrap">S/O </h6>
                                    <input type="text" class="form-control nond">
                                    <h6 class="fw-bold text-md-nowrap">R/O </h6>


                                </div>
                            </div>

                            <div class="row mb-4 mt-2 text-center d-flex justify-content-center">
                                <div class="col-12 d-flex justify-content-center align-items-center">

                                    <input type="text" class="form-control nond">
                                    <h6 class="fw_600 f_14 wt">(hereinafter referred to as the “Employee”) of
                                        the Second Part. </h6>


                                </div>
                            </div>
                            <div class="row my-4 text-center ">
                                <div class="col-12 d-flex justify-content-center align-items-center">

                                    <h6 class="fw-bold text-md-nowrap">WHEREAS :</h6>
                                </div>
                            </div>



                            <div class="row mb-4 mt-2 text-center d-flex justify-content-center">
                                <div class="col-md-4  d-flex justify-content-start align-items-center">

                                    <p class="fw_600 f_14 mb-0  wt ">
                                        1. The
                                        Employee is employed with the Company as </p>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center align-items-center">

                                    <input type="text" class="form-control nond">
                                </div>
                                <div class="col-md-2 d-flex justify-content-start align-items-center">

                                    <p class="fw_600 f_14 wt mt-3 ">with effect from </p>
                                </div>


                                
                            </div>

                            <div class="row my-4 text-center d-flex justify-content-center">
                                <div class="col-md-12">
                                    <div class="row">

                                        <div class="col-md-4 d-flex justify-content-start align-items-center">

                                            <input type="text" class="form-control nond">
                                            <p class="fw_600 f_14 wt text-nowrap">; and</p>
                                        </div>
                                    </div>



                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14  ">2. In consideration of and as a condition of continuing employment with the Company, the Employee has interalia agreed to certain terms and conditions  as  hereinafter appearing: </p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 text-start ">
                                <div class="col-12 ">

                                    <h6 class="fw-bold text-md-nowrap">NOW THIS AGREEMENT WITNESSETH AS FOLLOWS :</h6>
                                </div>
                            </div>


                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw-bold f_16  ">1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	Confidentiality Obligatio: </p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">1.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Employee will hold all Confidential Information (defined hereafter), belonging to the Company, in strict confidence and will not disclose, use, copy, publish, summarize, or remove from the premises of the Company any Confidential Information, except (a) as necessary to carry out his assigned responsibilities as an employee of the Company; and (b) after termination of his employment, only as specifically authorized in writing by the Whole Time Director of the Company.   </p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">1.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;For the purpose of this Agreement, “Confidential Information” shall mean all information concerning the business, operations and affairs of the Company including but not limited to the following:   </p>
                                    
                                    

                                </div>
                            </div>
                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">1.2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Technical information; research and development results, reports and plans; inventions, patents, patent applications; manufacturing methods, processes and systems; formulae and recipes; product patterns, designs and specifications; 
                                    
                                        </p>
                                    
                                    

                                </div>
                            </div>
                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">1.2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Compilations; computer Programmes; source codes; object codes;
                                    </p>
                                    
                                    

                                </div>
                            </div><div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">1.2.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Commercial information; business plans, details of and leads to business opportunities; financial statements; trade secrets; financial data such as costs of production and pricing information; volume of sales; methods of doing business including promotional methods; marketing plans; customer lists; supplier and vendor lists.</p>
                                    
                                    

                                </div>
                            </div><div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">1.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Confidential Information shall not include that information which is in public domain as on the date hereof or subsequently comes into public domain without any breach hereof by the Employee.</p>
                                    
                                    

                                </div>
                            </div><div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">1.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Other Information:</i> The Employee will safeguard and keep confidential all proprietary information of customers, vendors, consultants and shareholders of the Company as well as of other parties with whom the Company does business to the same extent as if it was Confidential Information. The Employee will not, during his employment with the Company or otherwise, use or disclose to the Company any confidential, trade secret or other proprietary information or material of any previous employer or other person, and will not bring onto the Company’s premises any unpublished document or any other property belonging to any former employer which is in contravention of any contractual or other obligation of the Employee.</p>
                                    
                                    

                                </div>
                            </div>
                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">1.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All Confidential Information and works, programs, papers, records, data, notes, drawings, files, documents, samples, devices, products, equipment, and other materials, including copies in whatever form and translations into any other language, relating to the business of the Company that the Employee possesses or creates during the term of his employment, whether or not confidential, are and shall remain the sole and exclusive property of the Company.  In the event of termination of employment for any reason whatsoever, the Employee will promptly deliver all such materials to the Company without retaining any copy thereof.</p>
                                    
                                    

                                </div>
                            </div>

                        
                        <div class="row my-4 mt-2 ">
                            <div class="col-12">

                                <p class="fw-bold f_16   ">2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ownership of Inventions and Works of Authorship</p>
                                
                                

                            </div>
                        </div>




                            
                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">2.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All inventions, ideas, designs, circuits, schematics, formulas, algorithms, trade secrets, works of authorship, mask works, developments, processes, techniques, improvements, and related know-how which result from work performed by the Employee, alone or with others, on behalf of the Company or from access to the Company Confidential Information or property or which the Employee may otherwise create in the performance of his duties at any time during his employment with the Company whether or not patent able, copyrightable, or qualified for mask work protection and all translation rights related thereto (collectively “Inventions and Works”) shall be the property of the Company and to the greatest extent permitted by law shall be “works made for hire”. </p>
                                    
                                    

                                </div>
                            
                            </div><div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">2.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Employee hereby assigns and agrees to assign to the Company or its designee, without further consideration, his entire right, title, and interest in and to all Inventions and Works, including all rights to obtain, register, perfect, and enforce patents, copyrights, mask work rights and other intellectual property protection for Inventions and Works. During his employment and for a period of [two years] thereafter, the Employee agrees and undertakes to assist the Company (at its expense) to obtain and enforce patents, copyrights, mask work rights, and other forms of intellectual property protection on Inventions and Works.</p>
                                    
                                    

                                </div>
                            </div>
                            
                            
                            
                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw-bold f_16   ">3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Non-competition</p>
                                    
                                    

                                </div>
                            </div>


                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">3.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Employee shall perform such duties as the Company may designate from time to time and will devote his full time and best efforts to the business of the Company and will not, without the prior written approval of the Whole Time Director of the Company (a) engage in any other profession, vocation, employment or consulting; or (b) directly or indirectly participate in or assist any business which is a current or potential supplier, customer, or competitor of the Company.</p>
                                    
                                    

                                </div>
                            </div>


                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">3.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;During the period of two years from the date of termination of employment with the Company neither the Employee nor any legal entity which is owned, controlled, assisted or advised by the Employee or in which the Employee is employed will directly or indirectly engage in or undertake any trade or business that directly or indirectly competes with then existing trade or business of the Company.</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw-bold f_16   ">4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Non Solicitation</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">4.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;During the period of two years from the date of termination of the employment with Company, neither the Employee nor any legal entity which is owned, controlled, assisted or advised by the Employee or of which the Employee is director or employee shall make or caused to be made any employment offer to hire or employ
                                        (whether as an employee, consultant, advisor or otherwise) or to solicit directly or indirectly any person employed by the Company or any of its subsidiaries or parent or promoter Company.  
                                        </p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">4.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;During the period of two years from the date of termination the employment with the Company, neither the Employee nor any legal entity which is owned, controlled, assisted or advised by the Employee or of which the Employee is director or employee shall cause to directly or indirectly solicit; offer services; engage; or deal with (whether as an employee, consultant, advisor or otherwise) with any client or customer of the Company or any of its subsidiaries or parent or promoter Company.</p>
                                    
                                    

                                </div>
                            </div>


                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw-bold f_16   ">5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Representation, Warranties and Covenants of the Employee</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4  ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">5.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Employee hereby represents, warrant, undertake and covenant with the Company that:</p>
                                    
                                    <div class="row my-4 ms-2 ">
                                        <div class="col-12">
        
                                            <p class="fw_600 f_14   ">a.&nbsp;&nbsp;There are no other contracts to assign inventions or works that are now in existence between him and any other person or entity. The Employee further represents that he has no other employment or consultancy agreement, which would restrict and impair the performance of this Agreement.</p>
                                            
                                            
        
                                        </div>
                                    </div>
                                    <div class="row my-4 ms-2 ">
                                        <div class="col-12">
        
                                            <p class="fw_600 f_14   ">b.&nbsp;&nbsp;That before accepting any employment or assignment from any other person (the "Prospective Employer"), the Employee shall disclose the contents of this Agreement to such Prospective Employer. The Employee shall not enter into agreement or arrangement with the Prospective Employer the performance of which may result in contraventions of this Agreement. Without prejudice to the aforegoing obligation of the Employee, it is expressly agreed by the Employee that the Company shall have unrestricted right to disclose this Agreement or the contents hereof to any Prospective Employer or future employer of the Employee.</p>
                                            
                                            
        
                                        </div>
                                    </div>
                                    <div class="row my-4 ms-2 ">
                                        <div class="col-12">
        
                                            <p class="fw_600 f_14   ">c.&nbsp;&nbsp;The Employee has never been convicted of any offence involving moral turpitude or illegally inducing any person (including the government officials) to exercise his discretion or authority.</p>
                                            
                                            
        
                                        </div>
                                    </div>
                                    <div class="row my-4 ms-2 ">
                                        <div class="col-12">
        
                                            <p class="fw_600 f_14   ">d.&nbsp;&nbsp;During the term of his employment with the Company the Employee shall not:</p>
                                            <div class="row my-4 ms-2 ">
                                                <div class="col-12">
                
                                                    <p class="fw_600 f_14   ">(i)&nbsp;&nbsp;	Induce any person by any mean (including by paying or offering any money, gift or benefit) for the purpose of influencing any act or decision of such person in his official capacity or to do or omit to do any act in violation of the lawful duty of such person or for securing any improper advantage from such person;</p>
                                                    
                                                    
                
                                                </div>
                                            </div>
                                            <div class="row my-4 ms-2 ">
                                                <div class="col-12">
                
                                                    <p class="fw_600 f_14   ">(ii)&nbsp;&nbsp;	Accept any money, gift or benefit from any person to exercise any authority, discretion or discharge of his/her duty as an employee of the Company.

                                                    </p>
                                                    
                                                    
                
                                                </div>
                                            </div>
                                            
        
                                        </div>
                                    </div>
                                    

                                </div>
                            </div>
                            <div class="row my-4 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">5.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Company shall not be liable and shall not be required to indemnify, defend or compensate the Employee for any of his/her act or deed that may be in violation of Clause 5.1 hereof.  Further the Employee shall indemnify and keep the Company indemnified for all his act, omission and deeds that are or may be in breach or violation of Clause 5.1 hereof.</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4  ">
                                <div class="col-12">

                                    <p class="fw-bold f_16   ">6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Agreements with Government Authorities and Other Third Parties</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">6.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Employee acknowledges that the Company from time to time may have agreements with other persons and/or with certain government authorities or agencies thereof and/or with third parties which impose obligations or restrictions on the Company regarding Inventions and Works made during the course of work under such agreements or regarding the confidential nature of such work.  The Employee agrees to be bound by all such obligations or restrictions and to take all action necessary to discharge the obligations of the Company thereunder.</p>
                                    
                                    

                                </div>
                            </div>


                            <div class="row my-4  ">
                                <div class="col-12">

                                    <p class="fw-bold f_16   ">7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miscellaneous</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">7.1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Term: The confidentiality obligations under this Agreement shall continue during the employment and thereafter.</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">7.2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Governing Law: This Agreement shall be governed by, and construed in accordance with, the laws of India. </p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">7.3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enforcement: If any provision of this Agreement shall be determined to be invalid or unenforceable for any reason, it shall be adjusted rather than voided, if possible, in order to achieve the intent of the parties to the extent possible.  In any event, all other provisions of this Agreement shall be deemed valid and enforceable to the full extent possible.</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">7.4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Injunctive Relief; Consent to Jurisdiction: The Employee acknowledges and agrees that damages will not be an adequate remedy in the event of a breach of any of his obligations under this Agreement. The Employee therefore agrees that the Company shall be entitled (without limitation of any other rights or remedies otherwise available to the Company) to obtain an injunction or other measures from any court of competent jurisdiction prohibiting the continuance or recurrence of any breach of this Agreement.  The Employee hereby submits himself to the jurisdiction of the Courts at Delhi, India for the purposes of any such action.</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">7.5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Arbitration: The Employee further agrees that the Company, at its option, may elect to submit any dispute or controversy arising out of or related to this Agreement for final settlement by arbitration conducted in New Delhi in accordance with the Arbitration and Conciliation Act, 1996 and the award rendered by the arbitrators shall be specifically enforceable and may be entered in any court having jurisdiction thereof.</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">7.6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attorneys’ Fees: If either party seeks to enforce its rights under this Agreement by legal proceedings or otherwise, the non-prevailing party shall pay all costs and expenses of the prevailing party.</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">7.7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Waiver: The waiver by the Company of a breach of any provision of this Agreement shall not operate or be construed as a waiver of any subsequent breach of the same or any other provision hereof.</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 mt-2 ">
                                <div class="col-12">

                                    <p class="fw_600 f_14   ">7.8&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Binding Effect: This Agreement shall be binding upon and shall inure to the benefit of the successors, executors, administrators, heirs, representatives, and assigns, as the case may be, of the parties.</p>
                                    
                                    

                                </div>
                            </div>

                            <div class="row my-4 text-center ">
                                <div class="col-12 ">

                                    <h6 class="fw-bold text-md-nowrap">(SIGNATURE PAGE FOLLOWS)</h6>
                                </div>
                            </div>

                            <div class="row my-4 text-start ">
                                <div class="col-12 ">

                                    <h6 class="fw-bold text-md-nowrap">
                                        IN WITNESS WHEREOF,<span class="f_14 fw_600"> the parties have executed this Agreement on the day and year first hereinabove written.
                                        </span></h6>
                                </div>
                            </div>

                            <div class="row my-4 text-end ">
                                <div class="col-12 ">

                                    <h6 class="fw-bold text-md-nowrap">
                                        For Jubilant Agri and Consumer Products Limited	,				Employee’ Signature
                                    </h6>
                                </div>
                            </div>


                            <div class="row my-4 text-start ">
                                <div class="col-12 ">

                                    <h6 class="fw-bold text-md-nowrap">
                                        AUTHORISED SIGNATORY
                                    </h6>
                                </div>
                            </div>

                            <div class="row my-4 text-start ">
                                <div class="col-12 ">

                                    <h6 class="fw_600 f_14 text-md-nowrap">
                                        Witnesses:
                                    </h6>
                                    <div class="row my-4 ms-2 text-start ">
                                        <div class="col-12 ">
        
                                            <h6 class="fw_600 f_14 text-md-nowrap">
                                                1.
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row my-4 ms-2 text-start ">
                                        <div class="col-12 ">
        
                                            <h6 class="fw_600 f_14 text-md-nowrap">
                                                2.
                                            </h6>
                                        </div>                                        
                                    </div>

                                </div>
                            </div>


                            <div class="row bgbm "></div>
                            <div class=" top-left"></div>
                            <div class=" top-right"></div>
                            <div class=" bottom-left"></div>
                            <div class=" border-center"></div>

    

                            <div class=" bottom-right"></div>

                        </div>






                    </div>
                </div>
            </div>
          
           
            <script src="/static/cdn/datepicker/datepicker_cdn.js"></script>
            <script src="/static/js/new_joining_form.js"></script>
            <script src="/static/cdn/sweetalert2/sweetalert2.js"></script>
</body>

</html>