<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRM </title>
    <!-- <link rel="stylesheet" href="/static/css/candidate_requirement_doc.css"> -->
  

   
  
    <link rel="stylesheet" href="/static/cdn/fontawesome/fontawesome6.5.1.css">
    <link rel="stylesheet" href="/static/css/header.css"> 
    <!-- Bootstrap CSS CDN -->
     
    <!-- <link rel="stylesheet" href="/static/css/header.css"> -->
    <link rel="icon" href="/static/images/images-removebg-preview.png" >
</head>
<body>



      <!-- Bootstrap CSS CDN -->
 

<nav class="navbar navbar-expand-lg change_width navbar-custom p-0 fixed-top i-white">
  <div class="container-fluid pb-0 pt-1">
  

    <a class="navbar-brand  p-0 " href="/candidate_documents"><img src="/static/images/images-removebg-preview.png" alt="" class=" rounded-2 bor" width="50px" height="45.5px" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav   mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"><%= role %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/candidate_documents"><i class="fa-solid fa-house"></i></a>
        </li>

     
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end hov pt-0 pb-0">
            <li class="p-0"><a class="dropdown-item" href="/profile/<%=c_id%>"><i class="fa-solid fa-address-card me-2"></i>Profile</a></li>
            <li class="p-0"><a class="dropdown-item"  href="/logout_candidate"> <i class="fa-solid fa-right-from-bracket me-1"></i> Logout</a></li>
          </ul>
        </li>
  
    </div>
  
 </nav>

 



    
 <script src="/static/js/header.js"></script>   
 <!-- <script src="/static/cdn/bootstrap-5.3.3/js/bootstrap.min.js"></script> -->
 <script src="/static/cdn/bootstrap-5.3.3/js/bootstrap.bundle.min.js"></script>
 <script src="/static/cdn/fontawesome/fontawesome6.5.1.js"></script> 
 <script src="/static/cdn/jquery/jquery3.7.1.js"></script>
<!-- Bootstrap JS CDN (optional, for dropdowns etc.) -->
<!-- <script src="/static/cdn/jquery/jquery3.7.1.js"></script> -->

<!-- <script src="/static/cdn/bootstrap-5.3.3/js/bootstrap.bundle.js"></script> -->



</body>
</html>